---
title: Home
---

<div id="welcome-greeting" class="page">
  <h1>Hi there!</h1>
  <h2>I'm Joe. I like solving problems and making things better.</h2>
  <p>
    Currently, I'm building digital services in Indonesia through an Ausaid program based in Jakarta. I believe that governments serve their citizens best when they make data-driven decisions and focus on the user experience.
  </p>
  <p>My interests are innumerable, but I've got two primary side projects at the moment:
    <ul>
      <li>Building <a href="http://reminate.com/">Reminate</a>, a dream journal app that uses artifical intelligence to privately reveal personal dream patterns, and publicly identify global dream trends from the collective subconsciousness. Private beta launches in March 2016 - sign up to be notified!</li>
      <li>Prototyping a solar-powered <a href="https://www.raspberrypi.org/">Raspberry Pi</a> that brings free education content from Wikipedia or Khan Academy to poor but smartphone-equipped households without electricity or internet. Even in places with no cell service, Pi's can work as mesh nodes to enable neighborhood voice communications and networked collaboration.</li>
    </ul>
  </p>
    Here are some <a href="quotes.html">quotes</a> that I like, <a href="links.html">links</a> that you might find useful, and more <a href="/about.html">about me</a>.
  </p>
  <hr />
</div>

{% if site.posts != empty %}
<div class="recent-posts">
  <h1>Blog Posts</h1>
  <ul class="homepage-posts">
  {% for post in site.posts limit: 3 %}
    <li>
        <h4>
          <a href="{{ post.url }}">
            {{ post.title }}
          </a>
          <time class="pull-right">
            {{ post.date | date_to_string | date: "%b %-d, %Y"  }}
          </time>
        </h4>
    </li>
  {% endfor %}
  </ul>
  <span><a href="{{ site.baseurl }}/blog.html">View More...</a></span>
</div>
{% endif %}

