---
title: Joe Contini
---

<div id="welcome-greeting" class="page">
  <h1>Hi There!</h1>
  <h2>I'm just getting this site online. Please enjoy the <a href="quotes.html">quotes</a> and <a href="links.html">links</a> or learn a little bit <a href="/about.html">about me</a> while I work on the rest of the site.</h2>
  <hr />
</div>

{% if site.posts != empty %}
<div class="recent-posts">
  <h1>Blog Posts</h1>
  <ul class="homepage-posts">
  {% for post in site.posts limit: 3 %}
    <li>
        <h4>
          <a href="{{ post.url }}">
            {{ post.title }}
          </a>
          <time class="pull-right">
            {{ post.date | date_to_string | date: "%b %-d, %Y"  }}
          </time>
        </h4>
    </li>
  {% endfor %}
  </ul>
  <span><a href="{{ site.baseurl }}/blog.html">View More...</a></span>
</div>
{% endif %}