---
title: Home
---

<div id="welcome-greeting" class="page">
  <h1>Hi there!</h1>
  <h2>I'm Joe.</h2>
  <p>I suffer from extreme curiosity which leads to hundreds of interests, tens of hobbies, and never enough time. I read a lot and experiment a fair bit. This blog will hopefully become a repository of things I found useful that others might too.
  <p>
    Here are some <a href="quotes.html">quotes</a> that I like, <a href="links.html">links</a> that you might find useful, and more <a href="/about.html">about me</a>.
  </p>
  <hr />
</div>

{% if site.posts != empty %}
<div class="recent-posts">
  <h1>Blog Posts</h1>
  <ul class="homepage-posts">
  {% for post in site.posts limit: 3 %}
    <li>
        <h4>
          <a href="{{ post.url }}">
            {{ post.title }}
          </a>
          <time class="pull-right">
            {{ post.date | date_to_string | date: "%b %-d, %Y"  }}
          </time>
        </h4>
    </li>
  {% endfor %}
  </ul>
  <span><a href="{{ site.baseurl }}/blog.html">View More...</a></span>
</div>
{% endif %}