---
title: Links
---
<div class='section' id="Links">
  <h1 class='article-title'>Links</h1>
  <p>Good, interesting, and useful things that I'm a fan of.</p><br>
  <center>
  {% assign categories = "ICT4D|Productivity|TED Talks|Web Dev" | split: "|" %}
  {% for cat in categories %}
  <a href="#{{ cat | remove:' ' }}"><button class="btn btn-primary btn-sm cat">{{ cat }}</button></a>
  {% endfor %}
  </center>
  <br>
</div>

<div id="article">
  {% for cat in categories %}
  <div class="article section" id="{{ cat | remove:' ' }}">
    <h2>{{ cat }}</h2>
    <table class="table table-hover table-striped">
      <tbody>
        {% for link in site.data.links %}{% if link.category == cat %}
        <tr>
          <td valign="top" class="col-sm-2">
            <a href="{{ link.url }}" target="_blank"><b>{{ link.name }}</b></a>
          </td>
          <td valign="top">
            {{ link.what }}<br />
            <i class="fa fa-tags"></i> <b>{{ link.tags | join: ', ' }}</b>
          </td>
        </tr>
        {% endif %}{% endfor %}
      </tbody>
    </table>
  </div>
  {% endfor %}
</div>