.main {
	width:80%;
	margin: 0 auto;
}

h1 {
	color:purple;
}

h2 {
	color: blue;
	font-size: 1.5em;
}

.list-group input {
	margin-right:1em;
}

.mainimg1 {
	background-image: url('../img/hired.png');
}
.mainimg2 {
	background-image: url('../img/fired.png');
}
.mainimg3 {
	background-image: url('../img/injured.png');
}

.mainimg1, .mainimg2, .mainimg3 {
	margin: 0 auto;
	text-align: center;
	color:white;
	height:10em;
	display:block;
	background-repeat: no-repeat;
}

#mainmenu div {
	display:block;
	margin-top:2em;
}